.concrete_delivery {
    width: 100%;
    height: 115vh;

    background-image: url(../img/bg-3.png);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.concrete_delivery_heading {
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 2vw;
}

.concrete_delivery_heading span {
    border-bottom: 3px solid #FFAE22;
    padding-bottom: 7px;
}

.concrete_delivery_txt {
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.85vw;
    color: #5B5B5B;
    margin-top: 1.5%;
}

.delivery_cards {
    width: 65%;
    margin: 0 auto;
    height: 50vh;
    margin-top: 3%;

    display: flex;
    text-align: center;
    justify-content: space-between;

}

.delivery_card {
    width: 20vw;
    height: 100%;
    border-radius: 15px;
}

.meters {
    width: 100%;
    height: 13%;
    background: linear-gradient(180deg, #FFC700 0%, #FFA200 65.1%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.price_container {
    width: 100%;
    height: 87%;
    border-bottom: solid 3px #D9D9D9;
    border-left: solid 3px #D9D9D9;
    border-right: solid 3px #D9D9D9;
    border-top: solid 3px #FFA200;
    box-sizing: border-box;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

.meters_text {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 1.5vw;
}

sup {
    font-size: 1vw;
}

.flight_price {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.2vw;

    margin-top: 3%;
}

.flight_price span {
    border-bottom: 2px #D9D9D9 solid; 
}

.flight_texts {
    width: 85%;
    margin: 0 auto;
    margin-top: 3%;
}
.flight_text {
    width: 100%;
    display: flex;
    text-align: left;
    margin-top: 3%;
    font-size: 0.8vw;
}

.flight {
    width: 80%;
    font-family: 'Ubuntu';
    font-weight: 400;

    color: #5B5B5B;
}
.fl_prise {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu';
    font-weight: 400;

    color: #5B5B5B;
}

.flight_price span span {
    border-top: 2px #D9D9D9 solid; 
}

.price_time {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    color:#5B5B5B;
    font-size: 1vw;
}

.price_downtime {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    color:#5B5B5B;
    font-size: 1vw;
}

.delivery_txt {
    width: 100%;
    font-size: 1.5vw;
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-weight: 700;

    margin-top: 4%;
}

.adress {
    width: 30%;
    margin: 0 auto;
    display: flex;

    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1vw;
}

.note_1 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.8vw;
    color: #5B5B5B;
}

.note_2 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 0.9vw;
    color: #FFA201;
    margin-top: 1%;
}

@media screen and (max-width: 2000px) and (max-height: 1500px) {
    .delivery_cards {
        height: 500px;
    }
    .delivery_card {
        height: 500px;
    }
    .concrete_delivery {
        height: 85vh;
    }
    .meters_text {
        font-size: 2vw;
    }
    sup {
        font-size: 1.3vw;
    }
}
@media screen and (max-width: 1900px) and (max-height: 1500px) {
    .flight_texts {
        width: 90%;
    }
    .flight_text {
        font-size: 0.95vw;
    }
    .price_downtime {
        font-size: 1.2vw;
    }
    .price_time {
        font-size: 1.2vw;
    }
    .note_1 {
        font-size: 1.2vw;
    }
    .note_2 {
        font-size: 1.5vw;
    }
    .adress {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 1600px) and (max-height: 1500px) {
    .delivery_cards {
        height: 450px;
    }
    .delivery_card {
        height: 450px;
    }
    .concrete_delivery {
        height: 80vh;
    }
}
@media screen and (max-width: 1400px) and (max-height: 1500px) {
    .concrete_delivery {
        height: 75vh;
    }
    .delivery_cards {
        width: 75%;
    }
    .delivery_card {
        width: 23vw;
    }
    .meters_text {
        font-size: 3vw;
    }
    sup {
        font-size: 2vw;
    }
    .flight_price {
        font-size: 1.4vw;
    }
    .flight_text {
        font-size: 1.1vw;
    }
    .price_time {
        font-size: 1.5vw;
    }
    .price_downtime {
        font-size: 1.5vw;
    }
    .delivery_card {
        height: 475px;
    }
    .delivery_cards {
        height: 475px;
    }
    .concrete_delivery_heading {
        font-size: 3vw;
    }
    .concrete_delivery_txt {
        font-size: 1.3vw;
    }
    .delivery_txt {
        font-size: 1.8vw;
    }
    .adress {
        width: 40%;
        font-size: 1.5vw;
    }
    .note_1 {
        font-size: 1.4vw;
    }
    .note_2 {
        font-size: 1.8vw;
    }
    .download_button {
        width: 30%;
    }
    .download_button button {
        font-size: 1.6vw;
    }
    .concrete_delivery {
        height: 80vh;
    }
}
@media screen and (max-width: 1200px) and (max-height: 1500px) {
    .delivery_cards {
        width: 85%;
    }
    .delivery_card {
        width: 27vw;
    }
    .flight_price {
        font-size: 1.7vw;
    }
    .flight_text {
        font-size: 1.35vw;
    }
    .price_time {
        font-size: 1.9vw;
        margin-top: 4%;
    }
    .price_downtime {
        font-size: 1.9vw;
    }
    .delivery_card {
        height: 500px;
    }
    .delivery_cards {
        height: 500px;
    }
    .note_2 {
        margin-top: 4%;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1500px) and (min-height: 1001px)  {
    .delivery_cards {
        flex-wrap: wrap;
        width: 75%;
        height: 1140px;
    }
    .delivery_card {
        width: 35vw;
        height: 530px;
        margin-top: 5%;
    }
    .card_3 {
        margin: 0  auto;
        margin-top: 50px;
    }
    .concrete_delivery {
        height: 135vh;
    }
    .concrete_delivery_heading {
        font-size: 4vw;
    }
    .concrete_delivery_txt {
        font-size: 2vw;
    }
    .meters_text {
        font-size: 4vw;
    }
    sup {
        font-size: 2.6vw;
    }
    .flight_price {
        font-size: 2vw;
    }
    .flight_text {
        font-size: 1.7vw;
    }
    .price_time {
        font-size: 2.5vw;
    }
    .price_downtime {
        font-size: 2.5vw;
    }
    .delivery_txt {
        font-size: 2.4vw;
    }
    .adress {
        width: 61%;
        font-size: 2.5vw;
    }
    .note_1 {
        width: 90%;
        margin: 0 auto;
        font-size: 2.2vw;
    }
    .note_2 {
        font-size: 2.2vw;
    }
    .download_button {
        width: 40%;
    }
    .download_button button {
        font-size: 2.3vw;
    }
    
}
@media screen and (max-width: 850px) and (max-height: 1500px) {
    .delivery_cards {
        width: 85%;
    }
    .delivery_card {
        width: 40vw;
    }
    .meters_text {
        font-size: 5vw;
    }
    sup {
        font-size: 3vw;
    }
    .flight_price {
        font-size: 2.5vw;
    }
    .flight_text {
        font-size: 2vw;
    }
    .concrete_delivery {
        height: 130vh;
    }
    .delivery_txt {
        margin-top: 8%;
    }
    .delivery_txt {
        font-size: 2.7vw;
    }
    .adress {
        width: 70%;
        font-size: 2.7vw;
    }
}
@media screen and (max-width: 750px) and (max-height: 1500px) {
    .delivery_cars {
        height: 500px;
    }
    .delivery_card {
        height: 500px;
    }
    .price_downtime {
        margin-top: 5%;
    }
}
@media screen and (max-width: 700px) and (max-height: 1500px) {
    .card_3 {
        margin-top: 0;
    }
    .delivery_cards {
        width: 55%;
        height: 1990px;
    }
    .delivery_card {
        width: 55vw;
        margin-bottom: 50px;
    }
    .concrete_delivery {
        height: 200vh;
    }
    .concrete_delivery_heading {
        font-size: 6vw;
    }
    .concrete_delivery_txt {
        font-size: 3vw;
    }
    .concrete_delivery_txt {
        margin-top: 4.5%;
    }
    .delivery_txt {
        font-size: 3.3vw;
    }
    .adress {
        width: 90%;
        font-size: 3.5vw;
    }
    .note_1 {
        width: 90%;
        margin: 0 auto;
        font-size: 3vw;
    }
    .note_2 {
        font-size: 3vw;
    }
    .meters_text {
        font-size: 6vw;
    }
    sup {
        font-size: 4vw;
    }
    .flight_price {
        font-size: 3.2vw;
    }
    .flight_text {
        font-size: 2.75vw;
    }
    .price_time {
        font-size: 3.5vw;
    }
    .price_downtime {
        font-size: 3.5vw;
    }
    .delivery_card {
        height: 610px;
    }
    .download_button {
        width: 55%;
    }
    .download_button button {
        font-size: 3.3vw;
    }
}
@media screen and (max-width: 600px) and (max-height: 1500px) {
    .concrete_delivery {
        height: 210vh;
    }
    .delivery_cards {
        width: 70%;
        height: 2190px;
    }
    .delivery_card {
        width: 70vw;
        height: 670px;
    }
    .meters_text {
        font-size: 8vw;
    }
    sup {
        font-size: 5vw;
    }
    .concrete_delivery_heading {
        font-size: 8vw;
    }
    .flight_price {
        font-size: 4.2vw;
    }
    .flight_text {
        font-size: 3.5vw;
    }
    .price_time {
        font-size: 5vw;
    }
    .price_downtime {
        font-size: 5vw;
    }
    .delivery_txt {
        font-size: 4vw;
    }
    .adress {
        width: 98%;
        font-size: 4vw;
    }
    .note_2 {
        width: 95%;
        margin: 0  auto;
        font-size: 4vw;
        margin-top: 5%;
    }
}
@media screen and (max-width: 500px) and (max-height: 1500px) {
    .concrete_delivery {
        height: 185vh;
    }
    .concrete_delivery_txt {
        font-size: 4vw;
    }
    .delivery_card {
        height: 570px;
    }
    .delivery_cards {
        height: 1900px;
    }
}
@media screen and (max-width: 400px) and (max-height: 1500px) {
    .concrete_delivery {
        height: 150vh;
    }
    .delivery_card {
        height: 450px;
    }
    .delivery_cards {
        height: 1530px;
    }
}
@media screen and (max-width: 2000px) and (min-width: 1601px)  and (max-height: 1400px) {
    .concrete_delivery {
        height: 95vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 1400px) {
    .concrete_delivery {
        height: 225vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1400px) {
    .concrete_delivery {
        height: 225vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 1400px) {
    .concrete_delivery {
        height: 200vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1400px) {
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (max-width: 1000px) and (min-width: 701px) and (max-height: 1350px) {
    .concrete_delivery {
        height: 150vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1350px) {
    .concrete_delivery {
        height: 235vh;
    }
}
@media screen and (max-width: 600px) and (min-width: 501px) and (max-height: 1300px) {
    .concrete_delivery {
        height: 245vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 1300px) {
    .concrete_delivery {
        height: 215vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1300px) {
    .concrete_delivery {
        height: 170vh;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1601px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 110vh;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1001px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 95vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 245vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 225vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1200px) {
    .concrete_delivery {
        height: 185vh;
    }
}

@media screen and (max-width: 1600px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 105vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 175vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 265vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 280vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 245vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1100px) {
    .concrete_delivery {
        height: 200vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 1050px) {
    .concrete_delivery {
        height: 275vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1050px) {
    .concrete_delivery {
        height: 295vh;
    }
}

@media screen and (max-width: 500px) and (max-height: 1050px) {
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1050px) {
    .concrete_delivery {
        height: 210vh;
    }
}

@media screen and (min-width: 1850px) and (max-width: 2000px) and (max-height: 1000px) {
    .concrete_delivery {
        height: 130vh;
    }
}
@media screen and (max-width: 1700px) and (max-height: 1000px) {
    .flight_text {
        font-size: 0.95vw;
    }
    .price_time {
        font-size: 1.2vw;
    }
    .price_downtime {
        font-size: 1.2vw;
    }
    .note_1 {
        font-size: 1vw;
    }
    .note_2 {
        font-size: 1.25vw;
    }
}
@media screen and (max-width: 1600px) and (max-height: 1000px) {
    .concrete_delivery {
        height: 105vh;
    }
    .delivery_cards {
        height: 45vh;
    }
}
@media screen and (max-width: 1500px) and (max-height: 1000px) {
    .flight_price {
        margin-top: 6%;
    }
}
@media screen and (max-width: 1300px) and (max-height: 1000px) {
    .adress {
        width: 35%;
        font-size: 1.3vw;
    }
    .note_1 {
        font-size: 1.3vw;
    }
    .note_2 {
        font-size: 1.5vw;
    }
    .delivery_cards {
        height: 475px;
    }
    .concrete_delivery {
        height: 110vh;
    }
}
@media screen and (max-width: 1200px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 2.5vw;
    }
    .concrete_delivery_txt {
        font-size: 1.2vw;
    }
    .delivery_cards {
        width: 80%;
    }
    .delivery_card {
        width: 24vw;
    }
    .flight_text {
        font-size: 1.1vw;
    }
    .price_time {
        font-size: 1.5vw;
    }
    .price_downtime {
        font-size: 1.5vw;
    }
    .concrete_delivery {
        height: 110vh;
    }
    .meters_text {
        font-size: 2.3vw;
    }
    sup {
        font-size: 1.5vw;
    }
    
}

@media screen and (max-width: 1000px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 2.8vw;
    }
    .concrete_delivery_txt {
        font-size: 1.4vw;
    }
    .concrete_delivery {
        height: 140vh;
    }
    .delivery_cards {
        flex-wrap: wrap;
        height: 850px;
        width: 60%;
        margin-top: 6%;
    }
    .delivery_card {
        height: 400px;
        width: 29vw;
    }
    .card_3 {
        margin: 0 auto;
    }
    .flight_price {
        font-size: 1.5vw;
    }
    .flight_text {
        font-size: 1.35vw;
    }
    .delivery_txt {
        font-size: 2vw;
    }
    .adress {
        width: 45%;
        font-size: 1.7vw;
    }
    .note_1 {
        font-size: 1.4vw;
    }
    .note_2 {
        font-size: 1.7vw;
    }
}
@media screen and (max-width: 850px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 3.5vw;
    }
    .concrete_delivery_txt {
        font-size: 1.8vw;
    }
    .delivery_cards {
        width: 70%;
    }
    .delivery_card {
        width: 33vw;
    }
    .meters_text {
        font-size: 3vw;
    }
    sup {
        font-size: 2vw;
    }
    .flight_price {
        font-size: 1.8vw;
    }
    .flight_text {
        font-size: 1.55vw;
    }
    .price_time {
        font-size: 2vw;
    }
    .price_downtime {
        font-size: 2vw;
    }
    .note_1 {
        width: 95%;
        margin: 0 auto;
        font-size: 1.7vw;
    }
    .download_button {
        width: 30%;
    }
    .download_button button {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 700px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 4.5vw;
    }
    .concrete_delivery_txt {
        font-size: 2vw;
    }
    .concrete_delivery_txt {
        margin-top: 3.5%;
    }
    .delivery_cards {
        width: 80%;
    }
    .delivery_card {
        width: 37vw;
    }
    .flight_text {
        font-size: 1.74vw;
    }
    .flight_price {
        font-size: 2.3vw;
    }
    .price_time {
        font-size: 2.5vw;
    }
    .price_downtime {
        font-size: 2.5vw;
    }
    .delivery_txt {
        font-size: 2.5vw;
    }
    .adress {
        width: 56%;
        font-size: 2.2vw;
    }
    .note_1 {
        font-size: 2vw;
    }
    .note_2 {
        font-size: 2.1vw;
    }
    .meters_text {
        font-size: 4vw;
    }
    sup {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
    .delivery_cards {
        height: 800;
    }
    .delivery_card {
        height: 350px;
    }
    .meters_text sup {
        font-size: 3vw;
    }
}
@media screen and (max-width: 500px) and (max-height: 1000px) {
    .concrete_delivery {
        height: 190vh;
    }
    .delivery_cards {
        width: 55%;
        height: 1350px;
    }
    .delivery_card {
        width: 55vw;
        margin-bottom: 50px;
        height: 400px;
    }
    .meters_text {
        font-size: 6vw;
    }
    .meters_text sup {
        font-size: 4vw;
    }
    .flight_price {
        font-size: 3vw;
    }
    .flight_text {
        font-size: 2.5vw;
    }
    .price_time {
        font-size: 3.5vw;
    }
    .price_downtime {
        font-size: 3.5vw;
    }
    .delivery_txt {
        font-size: 3.5vw;
    }
    .adress {
        width: 77%;
        font-size: 3vw;
    }
    .note_1 {
        font-size: 2.75vw;
    }
    .note_2 {
        font-size: 2.8vw;
        margin-top: 5%;
    }
    .download_button {
        width: 50%;
    }
    .download_button button {
        font-size: 2.7vw;
    }
}
@media screen and (max-width: 430px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 7vw;
    }
    .concrete_delivery_txt {
        font-size: 3vw;
    }
    .concrete_delivery {
        height: 210vh;
    }
    .delivery_cards {
        width: 70%;
        height: 1450px;
    }
    .delivery_card {
        width: 70vw;
        height: 430px;
    }
    .flight_price {
        font-size: 4vw;
    }
    .flight_text {
        font-size: 3.3vw;
    }
    .price_time {
        font-size: 4.5vw;
    }
    .price_downtime {
        font-size: 4.5vw;
    }
    .delivery_txt {
        font-size: 4.5vw;
    }
    .adress {
        width: 100%;
        font-size: 3.9vw;
    }
    .note_1 {
        font-size: 3.5vw;
    }
    .note_2 {
        font-size: 3.8vw;
    }
}
@media screen and (max-width: 370px) and (max-height: 1000px) {
    .delivery_cards {
        height: 1275px;
    }
    .delivery_card {
        height: 375px;
    }
    .concrete_delivery {
        height: 180vh;
    }
    .download_button {
        width: 70%;
    }
    .download_button button {
        font-size: 3.5vw;
    }
    .note_1 {
        font-size: 3.8vw;
    }
    .adress {
        font-size: 3.8vw;
    }
}
@media screen and (max-width: 330px) and (max-height: 1000px) {
    .concrete_delivery_heading {
        font-size: 8vw;
    }
    .concrete_delivery_txt {
        font-size: 3.5vw;
    }
    .concrete_delivery_txt {
        margin-top: 6.5%;
    }
    .delivery_card {
        height: 340px;
    }
    .delivery_cards {
        height: 1170px;
    }
    .concrete_delivery {
        height: 170vh;
    }
}
@media screen and (max-width: 300px) and (max-height: 1000px) {
    .price_downtime {
        margin-top: 7%;
        font-size: 5vw;
    }
    .price_time {
        margin-top: 5%;
        font-size: 5vw;
    }
}
@media screen and (max-width: 1000px) and (max-height: 950px) {
    .concrete_delivery {
        height: 150vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 950px) {
    .concrete_delivery {
        height: 200vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 950px) {
    .concrete_delivery {
        height: 220vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 950px) {
    .concrete_delivery {
        height: 195vh;
    }
}
@media screen and (max-width: 330px) and (max-height: 950px) {
    .concrete_delivery {
        height: 180vh;
    }
}
@media screen and (min-width: 1900px) and (max-width: 2000px) and (min-height: 900px) and (max-height: 1000px){
    .delivery_cards {
        width: 65%;
        margin: 0 auto;
        height: 55vh;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1500px) and (min-height: 900px) {
    .flight_price {
        margin-top: 4%;
    }
}
@media screen and (max-width: 1400px) and (min-height: 900px) {
    .flight_price {
        margin-top: 6%;
    }
}
@media screen and (max-width: 1300px) and (max-height: 900px){
    .concrete_delivery {
        height: 110vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 900px){
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 900px){
    .concrete_delivery {
        height: 150vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 900px){
    .concrete_delivery {
        height: 215vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 900px){
    .concrete_delivery {
        height: 235vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 900px){
    .concrete_delivery {
        height: 210vh;
    }
}
@media screen and (max-width: 330px) and (max-height: 900px){
    .concrete_delivery {
        height: 190vh;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 850px) {
    .concrete_delivery {
        height: 150vh;
    }
}
@media screen and (min-width: 1300px) and (max-width: 2000px) and (min-height: 800px) and (max-height: 899px) {
    .delivery_cards {
        width: 65%;
        margin: 0 auto;
        height: 60vh;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1600px) and (max-height: 800px){
    .concrete_delivery {
        height: 135vh;
    }
}
@media screen and (max-width: 1300px) and (max-height: 800px){
    .concrete_delivery {
        height: 125vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 800px){
    .concrete_delivery {
        height: 175vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 800px){
    .concrete_delivery {
        height: 240vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 800px){
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 800px){
    .concrete_delivery {
        height: 230vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 800px){
    .concrete_delivery {
        height: 210vh;
    }
}

@media screen and (max-width: 2000px) and (max-height: 799px){
    .delivery_cards {
        margin: 0 auto;
        height: 500px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1500px) and (max-height: 799px){
    .delivery_cards {
        margin: 0 auto;
        height: 450px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1300px) and (max-height: 799px){
    .delivery_cards {
        margin: 0 auto;
        height: 400px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1000px) and (max-height: 799px){
    .delivery_cards {
        margin: 0 auto;
        height: 850px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 500px) and (max-height: 799px) {
    .delivery_cards {
        height: 1450px;
    }
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 799px) {
    .delivery_cards {
        height: 1300px;
    }
    .concrete_delivery {
        height: 235vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 750px) {
    .concrete_delivery {
        height: 275vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 750px) {
    .concrete_delivery {
        height: 250vh;
    }
}
@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 750px) {
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 700px) {
    .concrete_delivery {
        height: 180vh;
    }
}

@media screen and (max-width: 1600px) and (max-height: 700px) {
    .delivery_cards {
        margin: 0 auto;
        height: 450px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1300px) and (max-height: 700px) {
    .concrete_delivery {
        height: 135vh;
    }
    .delivery_cards {
        margin: 0 auto;
        height: 400px;
        margin-top: 3%;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .delivery_card {
        height: 400px;
    }
}
@media screen and (max-width: 1000px) and (max-height: 700px) {
    .delivery_cards {
        height: 900px;
    }
    .concrete_delivery {
        height: 200vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 700px) {
    .delivery_cards {
        height: 850px;
    }
    .concrete_delivery {
        height: 190vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 700px) {
    .delivery_cards {
        height: 1350px;
    }
    .concrete_delivery {
        height: 270vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 700px) {
    .delivery_cards {
        height: 1500px;
    }
    .concrete_delivery {
        height: 300vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 700px) {
    .delivery_cards {
        height: 1280px;
    }
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 330px) and (max-height: 700px) {
    .delivery_cards {
        height: 1200px;
    }
    .concrete_delivery {
        height: 255vh;
    }
}
@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 700px){
    .concrete_delivery {
        height: 195vh;
    }
}

@media screen and (max-width: 1600px) and (max-height: 600px) {
    .concrete_delivery {
        height: 170vh;
    }
    .download_button {
        width: 20%;
        height: 8vh;
    }
}
@media screen and (max-width: 1300px) and (max-height: 600px) {
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 600px) {
    .concrete_delivery {
        height: 235vh;
    }
}
@media screen and (max-width: 800px) and (max-height: 600px) {
    .download_button {
        width: 35%;
    }
}
@media screen and (max-width: 500px) and (max-height: 600px) {
    .concrete_delivery {
        height: 315vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 600px) {
    .concrete_delivery {
        height: 345vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 600px) {
    .concrete_delivery {
        height: 305vh;
    }
    .download_button {
        width: 60%;
    }
}
@media screen and (max-width: 330px) and (max-height: 600px) {
    .concrete_delivery {
        height: 285vh;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 550px){
    .concrete_delivery {
        height: 215vh;
    }
}
@media screen and (max-width: 1600px) and (max-height: 550px) {
    .concrete_delivery {
        height: 185vh;
    }
}
@media screen and (max-width: 1300px) and (max-height: 550px) {
    .concrete_delivery {
        height: 170vh;
    }
}
@media screen and (max-width: 1100px) and (max-height: 550px) {
    .concrete_delivery {
        height: 160vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 550px) {
    .concrete_delivery {
        height: 260vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 550px) {
    .concrete_delivery {
        height: 240vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
    .concrete_delivery {
        height: 340vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 550px) {
    .concrete_delivery {
        height: 380vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 550px) {
    .concrete_delivery {
        height: 330vh;
    }
}
@media screen and (max-width: 330px) and (max-height: 550px) {
    .concrete_delivery {
        height: 310vh;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) and (max-height: 500px){
    .concrete_delivery {
        height: 235vh;
    }
}
@media screen and (max-width: 1600px) and (max-height: 500px) {
    .concrete_delivery {
        height: 205vh;
    }
}
@media screen and (max-width: 1300px) and (max-height: 500px) {
    .concrete_delivery {
        height: 185vh;
    }
}
@media screen and (max-width: 1100px) and (max-height: 500px) {
    .concrete_delivery {
        height: 175vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 500px) {
    .concrete_delivery {
        height: 275vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 500px) {
    .concrete_delivery {
        height: 255vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 500px) {
    .concrete_delivery {
        height: 375vh;
    }
}
@media screen and (max-width: 430px) and (max-height: 500px) {
    .concrete_delivery {
        height: 415vh;
    }
}
@media screen and (max-width: 370px) and (max-height: 500px) {
    .concrete_delivery {
        height: 360vh;
    }
}
@media screen and (max-width: 330px) and (max-height: 500px) {
    .concrete_delivery {
        height: 340vh;
    }
}







