.products_and_services {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-2.png);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.products_and_services_container {
    width: 50%;
    height: 100vh;
    padding-top: 4vh;
    margin: 0 auto;
    /* border: solid 2px black; */
}

.products_and_services_heading {
    font-family: 'Roboto Condensed';
    display: flex;
    font-weight: 700;
    font-size: 2vw;
}
.line {
    margin-top: 1vh;
    width: 5px;
    height: 0vh;
    background-color: #FF9900;;
}
.products_and_services_heading_txt {
    margin-left: 0.8vw;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5vh;
    /* border: solid 2px red; */
}
.card {
    width: 15.1vw;
    height: 38vh;
    background: linear-gradient(180deg, #FFD954 0%, #FFB738 99.99%, #FFA200 100%);
    border-radius: 10px;
    margin-bottom: 4vh;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    position: relative;
}
.card_white {
    background: linear-gradient(180deg, #FFFCF7 0%, #F2F0EC 100%);
}
#indent_width {
    margin-right: 2vw;
}

.card_heading {
    margin-top: 4vh;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.5vw;
}

.card_info {
    text-align: center;
    margin-top: 2vh;
    font-family: 'Ubuntu';
    color: #323232;
    font-size: 0.8vw;
}
#card_info_1 {
    margin-bottom: 2vh;
}
.type {
    display: flex;
    width: 90%;
    margin: 0 auto; 
    margin-top: 5px;
    height: 8%;
    text-align: center;
}

.type_name {
    flex-grow: 1;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: #3E3E3E;
    font-size: 1vw;
}

#card_info_2 {
    margin-bottom: 3vh;
}

.list {
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.8vw
}

.list_margin {
    margin-bottom: 1vh;
}

.ul_margin {
    margin-top: 5.5vh;
}

.hidden {
    width: 100%;
    overflow-x: hidden;
}
.price {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 1.2vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 9vh;
}
.price_color {
    color: #FF0000;
}

.products_and_services_button {
    width: 80%;
    height: 6vh;
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
    margin-left: 10%;
}
.products_and_services_button button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background: linear-gradient(180deg, #FCFF5F 0%, #FFF500 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 26px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 1.5vh;
    text-align: center;
    color: #9F6000;
    cursor: pointer;
}

.card_white .products_and_services_button button {
    background: linear-gradient(180deg, #FFD853 -7.49%, #FFBD3D 100%);
    color: rgba(149, 45, 0, 0.7);
}

.products_and_services_text{
    width: 100%;
    margin-top: 3vh;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.85vw;
    text-shadow: 0px 0px 25px #FFFFFF;
    color: #666666;
}

.products_and_services_text span {
    font-weight: bold;
}

.transition_2 {
    width: 100%;
    height: 5vh;
    background-image: url(../img/price_bg.png);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.card_last {
    margin: 0 auto;
}

/* adaptive */
@media screen and (max-width: 2000px) and (max-height: 1500px) {
    .card {
        height: 500px;
    }
    .products_and_services {
        height: 135vh;
    }
    .products_and_services_container {
        height: 135vh;
    }
    .card_info {
        font-size: 1vw;
    }
    .list {
        font-size: 18px;
    }
    .card_heading {
        font-size: 28px;
    }
    .card_info {
        font-size: 20px;
    }
    .products_and_services_button {
        height: 4vh;
    }
    .products_and_services_button button {
        font-size: 14px;
    }
    .products_and_services_text {
        font-size: 22px;;
    }
    .type_name {
        font-size: 20px;
    }
    .price {
        font-size: 22px;
    }
}
@media screen and (max-width: 1700px) and (max-height: 1500px) {
    .products_and_services_container {
        width: 65%;
    }
    .card {
        width: 20vw;
    }
}
@media screen and (max-width: 1300px) and (max-height: 1500px) {
    .products_and_services_container {
        width: 80%;
    }
    .card {
        width: 25vw;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1500px) {
    .products_and_services_container {
        width: 75%;
        height: 180vh;
    }
    .card {
        width: 35vw;
    }
    .products_and_services {
        height: 180vh;
    }
    .products_and_services_text {
        margin-top: 7vh;
    }
}
@media screen and (max-width: 800px) and (max-height: 1500px) {
    .products_and_services_container {
        width: 85%;
    }
    .card {
        width: 40vw;
    }
}
@media screen and (max-width: 650px) and (max-height: 1500px) {
    .products_and_services_container {
        width: 95%;
    }
    .card {
        width: 45vw;
    }
}
@media screen and (max-width: 600px) and (max-height: 1500px) {
    .card_heading {
        font-size: 24px;
    }
    .ul_margin {
        margin-top: 3.5vh;
    }
}
@media screen and (max-width: 550px) and (max-height: 1500px) {
    .list {
        font-size: 16px;
    }
}
@media screen and (max-width: 2000px) and (max-height: 1400px) {
    .products_and_services {
        height: 150vh;
    }
    .products_and_services_container {
        height: 150vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1400px) {
    .products_and_services {
        height: 190vh;
    }
    .products_and_services_container {
        height: 190vh;
    }
}
@media screen and (max-width: 520px) and (max-height: 1400px) {
    .price {
        font-size: 20px;
    }
}


@media screen and (max-width: 2000px) and (max-height: 1300px) {
    .products_and_services {
        height: 160vh;
    }
    .products_and_services_container {
        height: 160vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1300px) {
    .products_and_services {
        height: 215vh;
    }
    .products_and_services_container {
        height: 215vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1300px) {
    .card {
        height: 435px;
    }
    .products_and_services {
        height: 200vh;
    }
    .products_and_services_container {
        height: 200vh;
    }
    .products_and_services_text {
        font-size: 18px;
    }
}
@media screen and (max-width: 550px) and (max-height: 1300px) {
    .card_info {
        font-size: 18px;
    }
    .type_name {
        font-size: 18px;
    }
    .price {
        font-size: 20px;
    }
    .products_and_services_button button {
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) and (max-height: 1300px) {
    .card_heading {
        font-size: 20px;
    }
    .card_info {
        font-size: 16px;
    }
    .price {
        font-size: 18px;
    }
    .list {
        font-size: 13px;
    }
    .type_name {
        font-size: 16px;
    }
    .card {
        height: 390px;
    }
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 450px) and (max-height: 1300px) {
    .products_and_services_button button {
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) and (max-height: 1300px) {
    .card_heading {
        font-size: 17px;
    }
    .card_info {
        font-size: 14px;
    }
    .card {
        height: 345px;
    }
    .price {
        margin-bottom: 7vh;
        font-size: 14px;
    }
    .products_and_services_button button {
        font-size: 9px;
    }
    .products_and_services {
        height: 160vh;
    }
    .products_and_services_container {
        height: 160vh;
    }
    .list {
        font-size: 10px;
    }
}
@media screen and (max-width: 2000px) and (max-height: 1200px) {
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1200px) {
    .products_and_services {
        height: 220vh;
    }
    .products_and_services_container {
        height: 220vh;
    }
}
@media screen and (max-width: 600px) and (max-height: 1200px) {
    .products_and_services {
        height: 195vh;
    }
    .products_and_services_container {
        height: 195vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 1200px) {
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1200px) {
    .products_and_services {
        height: 160vh;
    }
    .products_and_services_container {
        height: 160vh;
    }
}

@media screen and (max-width: 2000px) and (max-height: 1100px) {
    .products_and_services {
        height: 160vh;
    }
    .products_and_services_container {
        height: 160vh;
    }
    .card {
        height: 425px;
    }
}
@media screen and (max-width: 1000px) and (min-width: 501px) and (max-height: 1100px) {
    .products_and_services {
        height: 220vh;
    }
    .products_and_services_container {
        height: 220vh;
    }
    .card {
        height: 435px;
    }
}
@media screen and (max-width: 500px) and (max-height: 1100px) {
    .products_and_services {
        height: 190vh;
    }
    .products_and_services_container {
        height: 190vh;
    }
}
@media screen and (max-width: 450px) and (min-width: 401px) and (max-height: 1100px) {
    .price {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) and (max-height: 1100px) {
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 2000px) and (max-height: 1000px) {
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 1000px) {
    .card {
        width: 30vw;
    }
    .products_and_services {
        height: 225vh;
    }
    .products_and_services_container {
        height: 225vh;
    }
    .products_and_services_text {
        font-size: 18px;
    }
}
@media screen and (max-width: 800px) and (max-height: 1000px) {
    .card {
        width: 35vw;
        height: 395px;
    }
    .products_and_services {
        height: 205vh;
    }
    .products_and_services_container {
        height: 205vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 1000px) {
    .card {
        width: 40vw;
    }
}
@media screen and (max-width: 500px) and (max-height: 1000px) {
    .card {
        width: 45vw;
        height: 350px;
    }
    .products_and_services {
        height: 190vh;
    }
    .products_and_services_container {
        height: 190vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 1000px) {
    .card {
        height: 310px;
    }
    .products_and_services {
        height: 170vh;
    }
    .products_and_services_container {
        height: 170vh;
    }
    .products_and_services_text {
        font-size: 15px;
    }
}
@media screen and (max-width: 350px) and (max-height: 1000px) {
    .card_heading {
        font-size: 15px;
    }
    .card_info {
        font-size: 12px;
    }
    .type_name {
        font-size: 14px;
    }
    .price {
        font-size: 13px;
    }
    .products_and_services_button {
        width: 85%;
    }
    .products_and_services_button button {
        font-size: 8px;
    }
    .card {
        height: 290px;
    }
    .products_and_services {
        height: 160vh;
    }
    .products_and_services_container {
        height: 160vh;
    }
    .list {
        width: 100%;
    }
    .list {
        font-size: 9.5px;
    }
}
@media screen and (max-width: 300px) and (max-height: 1000px) {
    .list {
        font-size: 8.4px;
    }
    .products_and_services_button {
        width: 86%;
    }
}

@media screen and (max-width: 2000px) and (max-height: 900px) {
    .products_and_services {
        height: 195vh;
    }
    .products_and_services_container {
        height: 195vh;
    }
}
@media screen and (max-width: 1500px) and (max-height: 900px) {
    .card {
        height: 380px;
    }
    .products_and_services {
        height: 175vh;
    }
    .products_and_services_container {
        height: 175vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 900px) {
    .products_and_services {
        height: 220vh;
    }
    .products_and_services_container {
        height: 220vh;
    }
}
@media screen and (max-width: 500px) and (max-height: 900px) {
    .card {
        height: 335px;
    }
    .products_and_services {
        height: 200vh;
    }
    .products_and_services_container {
        height: 200vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 900px) {
    .card {
        height: 295px;
    }
    .products_and_services {
        height: 180vh;
    }
    .products_and_services_container {
        height: 180vh;
    }
}
@media screen and (max-width: 350px) and (max-height: 900px) {
    .card {
        height: 280px;
    }
    .products_and_services {
        height: 170vh;
    }
    .products_and_services_container {
        height: 170vh;
    }
    .type_name {
        font-size: 12px;
    }
    .products_and_services_button button {
        font-size: 7px;
    }
}

@media screen and (max-width: 2000px) and (max-height: 800px) {
    .products_and_services {
        height: 200vh;
    }
    .products_and_services_container {
        height: 200vh;
    }
    .products_and_services_text {
        margin-top: 7vh;
    }
    .card {
        height: 365px;
    }
    .products_and_services_button {
        height: 5vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 800px) {
    .products_and_services {
        height: 240vh;
    }
    .products_and_services_container {
        height: 240vh;
    }
}
@media screen and (max-width: 550px) and (max-height: 800px) {
    .card_heading {
        font-size: 22px;
    }
    .price {
        font-size: 18px;
    }
    .list {
        font-size: 14px;
    }
    .card_info {
        font-size: 16px;
    }
    .card {
        height: 325px;
    }
    .products_and_services {
        height: 215vh;
    }
    .products_and_services_container {
        height: 215vh;
    }
}
@media screen and (max-width: 450px) and (max-height: 800px) {
    .card_heading {
        font-size: 18px;
    }
    .list {
        font-size: 13px;
    }
}
@media screen and (max-width: 400px) and (max-height: 800px) {
    .price {
        margin-bottom: 10vh;
        font-size: 14px;
    }
    .card_info {
        font-size: 14px;
    }
    .list {
        font-size: 11px;
    }
    .card {
        height: 300px;
    }
    .products_and_services {
        height: 215vh;
    }
    .products_and_services_container {
        height: 215vh;
    }
    .type_name {
        font-size: 14px;
    }
}
@media screen and (max-width: 350px) and (max-height: 800px) {
    .card_info {
        font-size: 12px;
    }
    .card_heading {
        font-size: 15px;
    }
    .list {
        font-size: 10px;
    }
    .price {
        font-size: 12px;
    }
    .card {
        height: 285px;
    }
    .products_and_services {
        height: 190vh;
    }
    .products_and_services_container {
        height: 190vh;
    }
}
@media screen and (max-width: 300px) and (max-height: 800px) {
    .card_heading {
        font-size: 13px;
    }
    .price {
        font-size: 11px;
    }
}

@media screen and (max-width: 2000px) and (max-height: 700px) {
    .products_and_services {
        height: 225vh;
    }
    .products_and_services_container {
        height: 225vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 700px) {
    .products_and_services {
        height: 265vh;
    }
    .products_and_services_container {
        height: 265vh;
    }
}
@media screen and (max-width: 550px) and (max-height: 700px) {
    .products_and_services {
        height: 240vh;
    }
    .products_and_services_container {
        height: 240vh;
    }
    .products_and_services_button button {
        font-size: 10px;
    }
    
}
@media screen and (max-width: 450px) and (max-height: 700px) {
    .products_and_services {
        height: 220vh;
    }
    .products_and_services_container {
        height: 220vh;
    }
    .card {
        height: 285px;
    }
    .products_and_services_text {
        font-size: 16px;
    }
    
}
@media screen and (max-width: 350px) and (max-height: 700px) {
    .products_and_services {
        height: 205vh;
    }
    .products_and_services_container {
        height: 205vh;
    }
    .card {
        height: 260px;
    }
    .products_and_services_button button {
        font-size: 8px;
    }
    .products_and_services_text {
        font-size: 14px;
    }
    .list {
        font-size: 9px;
    }
    
}

@media screen and (max-width: 2000px) and (max-height: 600px)  {
    .products_and_services {
        height: 255vh;
    }
    .products_and_services_container {
        height: 255vh;
    }
    .price {
        margin-bottom: 16vh;
    }
    .products_and_services_button {
        height: 8vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 600px) {
    .products_and_services {
        height: 300vh;
    }
    .products_and_services_container {
        height: 300vh;
    }
}
@media screen and (max-width: 550px) and (max-height: 600px) {
    .products_and_services {
        height: 270vh;
    }
    .products_and_services_container {
        height: 270vh;
    }
    .products_and_services_text {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) and (max-height: 600px) {
    .price {
        margin-bottom: 12vh;
    }
    .products_and_services {
        height: 240vh;
    }
    .products_and_services_container {
        height: 240vh;
    }
}
@media screen and (max-width: 300px) and (max-height: 600px) {
    .list {
        font-size: 8px;
    }
    .type_name {
        font-size: 12px;
    }
    .products_and_services_button {
        height: 5vh;
    }
    .price {
        margin-bottom: 10vh;
    }
}
@media screen and (max-width: 2000px) and (max-height: 550px) {
    .products_and_services {
        height: 280vh;
    }
    .products_and_services_container {
        height: 280vh;
    }
}
@media screen and (max-width: 2000px) and (max-height: 500px) {
    .products_and_services {
        height: 295vh;
    }
    .products_and_services_container {
        height: 295vh;
    }
}
@media screen and (max-width: 1000px) and (max-height: 500px) {
    .products_and_services_container {
        width: 65%;
    }
    .card {
        width: 25vw;
    }
    .card_heading {
        font-size: 22px;
    }
    .card_info {
        font-size: 16px;
    }
    .type_name {
        font-size: 16px;
    }
    .price {
        font-size: 18px;
    }
    .products_and_services_button button {
        font-size: 10px;
    }
    .card {
        height: 300px;
    }
    .list {
        font-size: 14px;
    }
    .products_and_services {
        height: 305vh;
    }
    .products_and_services_container {
        height: 305vh;
    }
}
@media screen and (max-width: 800px) and (max-height: 500px) {
    .card_heading {
        font-size: 18px;
    }
    .list {
        font-size: 12px;
    }
    .card_info {
        font-size: 14px;
    }
    .type_name {
        font-size: 14px;
    }
    .price {
        font-size: 16px;
    }
    .products_and_services_button button {
        font-size: 8px;
    }
    .card {
        height: 280px;
    }
    .products_and_services {
        height: 295vh;
    }
    .products_and_services_container {
        height: 295vh;
    }
}
@media screen and (max-width: 700px) and (max-height: 500px) {
    .card {
        width: 30vw;
    }
}
@media screen and (max-width: 600px) and (max-height: 500px) {
    .products_and_services_container {
        width: 80%;
    }
    .card {
        width: 35vw;
    }
}
@media screen and (max-width: 500px) and (max-height: 500px) {
    .card_heading {
        font-size: 16px;
    }
    .list {
        font-size: 10px;
    }
    .price {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) and (max-height: 500px) {
    .products_and_services_container {
        width: 90%;
    }
    .card {
        width: 40vw;
    }
    .card {
        height: 250px;
    }
    .products_and_services {
        height: 260vh;
    }
    .products_and_services_container {
        height: 260vh;
    }
}
@media screen and (max-width: 400px) and (max-height: 500px) {
    .card_info {
        font-size: 12px;
    }
    .type_name {
        font-size: 13px;
    }
    .price {
        font-size: 12px;
    }
    .products_and_services_button button {
        font-size: 7px;
    }
    .products_and_services_button {
        height: 6vh;
    }
    .products_and_services_text {
        font-size: 12px;
    }
}
@media screen and (max-width: 350px) and (max-height: 500px) {
    .card_heading {
        font-size: 12px;
    }
    .card {
        height: 220px;
        width: 43vw;
    }
    .type_name {
        font-size: 11px;
    }
    .card_info {
        font-size: 11px;
    }
    .list {
        font-size: 8.5px;
    }
    .products_and_services {
        height: 230vh;
    }
    .products_and_services_container {
        height: 230vh;
    }
}
@media screen and (max-width: 300px) and (max-height: 500px) {
    .list {
        font-size: 8.2px;
    }
    .price {
        font-size: 10px;
    }
    .products_and_services_container {
        width: 95%;
    }
    .card {
        width: 45vw;
    }
}