.products_and_services {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-2.png);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.products_and_services_container {
    width: 50%;
    height: 100vh;
    padding-top: 4vh;
    margin: 0 auto;
    /* border: solid 2px black; */
}

.products_and_services_heading {
    font-family: 'Roboto Condensed';
    display: flex;
    font-weight: 700;
    font-size: 2vw;
}
.line {
    margin-top: 1vh;
    width: 5px;
    height: 8vh;
    background-color: #FF9900;;
}
.products_and_services_heading_txt {
    margin-left: 0.8vw;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    /* border: solid 2px red; */
}
.card {
    width: 15.1vw;
    height: 38vh;
    background: linear-gradient(180deg, #FFD954 0%, #FFB738 99.99%, #FFA200 100%);
    border-radius: 10px;
    margin-bottom: 4vh;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    position: relative;
}
.card_white {
    background: linear-gradient(180deg, #FFFCF7 0%, #F2F0EC 100%);
}
#indent_width {
    margin-right: 2vw;
}

.card_heading {
    margin-top: 4vh;
    text-align: center;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 1.5vw;
}

.card_info {
    text-align: center;
    margin-top: 2vh;
    font-family: 'Ubuntu';
    color: #323232;
    font-size: 0.8vw;
}
#card_info_1 {
    margin-bottom: 2vh;
}
.type {
    display: flex;
    width: 90%;
    margin: 0 auto; 
    margin-top: 5px;
    height: 8%;
    text-align: center;
}

.type_name {
    flex-grow: 1;
    font-family: 'Ubuntu';
    font-weight: 700;
    color: #3E3E3E;
    font-size: 1vw;
}

#card_info_2 {
    margin-bottom: 3vh;
}

.list {
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.8vw
}

.list_margin {
    margin-bottom: 1vh;
}

.ul_margin {
    margin-top: 5.5vh;
}

.hidden {
    width: 100%;
    overflow-x: hidden;
}
.price {
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 1.2vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 9vh;
}
.price_color {
    color: #FF0000;
}

.products_and_services_button {
    width: 13vw;
    height: 6vh;
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
    margin-left: 5%;
}
.products_and_services_button button {
    width: 100%;
    height: 100%;
    text-decoration: none;
    border: none;
    background: linear-gradient(180deg, #FCFF5F 0%, #FFF500 100%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 26px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 1.5vh;
    text-align: center;
    color: #9F6000;
}

.card_white .products_and_services_button button {
    background: linear-gradient(180deg, #FFD853 -7.49%, #FFBD3D 100%);
    color: rgba(149, 45, 0, 0.7);
}

.products_and_services_text{
    width: 100%;
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 0.85vw;
    text-shadow: 0px 0px 25px #FFFFFF;
    color: #666666;
}

.products_and_services_text span {
    font-weight: bold;
}

.transition_2 {
    width: 100%;
    height: 20vh;
    background-image: url(../img/price_bg.png);
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}